body{
    margin:0;
    background:#0d1117;
    color:white;
    overflow:hidden;
    font-family:Arial;
}

#robot{
    width:100vw;
    height:70vh;
}

.chat-container{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
}

#chat-box{
    height:150px;
    width:400px;
    overflow-y:auto;
    background:#161b22;
    padding:10px;
    margin-bottom:10px;
}